[submodule "cc.arduino.arduino-create-agent/shared-modules"]
	path = cc.arduino.arduino-create-agent/shared-modules
	url = https://github.com/flathub/shared-modules
[submodule "com.gitlab.screenkey.screenkey/shared-modules"]
	path = com.gitlab.screenkey.screenkey/shared-modules
	url = https://github.com/flathub/shared-modules
[submodule "org.sunflower_fm.sunflower/shared-modules"]
	path = org.sunflower_fm.sunflower/shared-modules
	url = https://github.com/flathub/shared-modules.git
[submodule "nz.mega.megasync/shared-modules"]
	path = nz.mega.megasync/shared-modules
	url = https://github.com/flathub/shared-modules.git
[submodule "org.virt_manager.virt-manager/shared-modules"]
	path = org.virt_manager.virt-manager/shared-modules
	url = https://github.com/flathub/shared-modules.git
[submodule "com.github.thestinger.termite/shared-modules"]
	path = com.github.thestinger.termite/shared-modules
	url = https://github.com/flathub/shared-modules.git
[submodule "com.github.blueman_project.blueman/shared-modules"]
	path = com.github.blueman_project.blueman/shared-modules
	url = https://github.com/flathub/shared-modules.git
[submodule "org.virt_manager.virt-viewer/shared-modules"]
	path = org.virt_manager.virt-viewer/shared-modules
	url = https://github.com/flathub/shared-modules.git
[submodule "org.joplinapp.joplin/shared-modules"]
	path = org.joplinapp.joplin/shared-modules
	url = https://github.com/flathub/shared-modules.git
[submodule "io.icestudio.icestudio/shared-modules"]
	path = io.icestudio.icestudio/shared-modules
	url = https://github.com/flathub/shared-modules.git
[submodule "com.github.ra3xdh.qucs-s/shared-modules"]
	path = com.github.ra3xdh.qucs-s/shared-modules
	url = https://github.com/flathub/shared-modules.git
