[submodule "cc.arduino.arduino-create-agent/shared-modules"]
	path = cc.arduino.arduino-create-agent/shared-modules
	url = https://github.com/flathub/shared-modules
[submodule "org.sunflower_fm.sunflower/shared-modules"]
	path = org.sunflower_fm.sunflower/shared-modules
	url = https://github.com/flathub/shared-modules.git
[submodule "org.virt_manager.virt-manager/shared-modules"]
	path = org.virt_manager.virt-manager/shared-modules
	url = https://github.com/flathub/shared-modules.git
[submodule "com.github.thestinger.termite/shared-modules"]
	path = com.github.thestinger.termite/shared-modules
	url = https://github.com/flathub/shared-modules.git
[submodule "com.github.blueman_project.blueman/shared-modules"]
	path = com.github.blueman_project.blueman/shared-modules
	url = https://github.com/flathub/shared-modules.git
[submodule "org.virt_manager.virt-viewer/shared-modules"]
	path = org.virt_manager.virt-viewer/shared-modules
	url = https://github.com/flathub/shared-modules.git
[submodule "io.icestudio.icestudio/shared-modules"]
	path = io.icestudio.icestudio/shared-modules
	url = https://github.com/flathub/shared-modules.git
[submodule "com.github.qucs.qucs.BaseApp/shared-modules"]
	path = com.github.qucs.qucs.BaseApp/shared-modules
	url = https://github.com/flathub/shared-modules.git
[submodule "flathub-shared-modules"]
	path = flathub-shared-modules
	url = https://github.com/flathub/shared-modules.git
