[Desktop Entry]
Name=Boostnote
Comment=Boostnote
GenericName=Boostnote
Exec=boostnote %U
Icon=io.boostnote.boostnote
Type=Application
StartupNotify=true
Categories=Development;Utility;

