#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Lattice Diamond
Comment=Lattice Diamond Design Software
Exec=diamond %U
Terminal=false
Type=Application
Icon=com.latticesemi.diamond
Categories=Development
