[Desktop Entry]
Name=Digital
Comment=Digital logic designer and circuit simulator
GenericName=Digital
Exec=digital %U
Type=Application
StartupNotify=true
Categories=Development
