[Desktop Entry]
Name=Code Composer Studio
Comment=Code Composer Studio
Exec=ccstudio %U
Terminal=false
Type=Application
Icon=com.ti.ccstudio
Categories=Development;
