[Desktop Entry]
Name=Autodesk EAGLE
Exec=eagle %U
Terminal=false
Type=Application
Icon=com.autodesk.eagle
Categories=Development;
MimeType=application/x-eagle-schematic;application/x-eagle-board;application/x-eagle-project;application/x-eagle-library;
