[Desktop Entry]
Name=Zoho Docs
Comment=Sync documents to Zoho Docs
Exec=zohodocs
Terminal=false
Type=Application
Icon=com.zoho.zohodocs
Categories=Network;FileTransfer;
MimeType=application/x-zwriter-link;application/x-zsheet-link;application/x-zshow-link;
StartupNotify=false
