[Desktop Entry]
Type=Application
Name=AirspyCalibrate
GenericName=SDR Software
Comment=An Airspy calibration tool
Icon=com.airspy.sdrsharp.airspycalibrate
Exec=AirspyCalibrate
Terminal=false
Categories=Science;Electricity
Keywords=Airspy;HackRF;Instrumentation;Radio;RTL-SDR;SDR;Signal Processing;Signals;Software Defined Radio;USRP;
