[Desktop Entry]
Type=Application
Name=AstroSpy
GenericName=SDR Software
Comment=Radio Astronomy with Airspy
Icon=com.airspy.sdrsharp.astrospy
Exec=AstroSpy
Terminal=false
Categories=Science;Electricity
Keywords=Airspy;HackRF;Instrumentation;Radio;RTL-SDR;SDR;Signal Processing;Signals;Software Defined Radio;USRP;
