[Desktop Entry]
Encoding=UTF-8
Name=ADSBSpy
Type=Application
Comment=ADSBSpy application
Exec=ADSBSpy
Icon=com.airspy.sdrsharp.adsbspy
GenericName=ADSBSpy
Categories=AudioVideo;Network;
