[Desktop Entry]
Type=Application
Name=SpectrumSpy
GenericName=SDR Software
Comment=Spectrum Analyzer for Airspy
Icon=com.airspy.sdrsharp.spectrumspy
Exec=SpectrumSpy
Terminal=false
Categories=Science;Electricity
Keywords=Airspy;HackRF;Instrumentation;Radio;RTL-SDR;SDR;Signal Processing;Signals;Software Defined Radio;USRP;
