[Desktop Entry]
Encoding=UTF-8
Name=AstroSpy
Type=Application
Comment=AstroSpy application
Exec=AstroSpy
Icon=com.airspy.sdrsharp.astrospy
GenericName=AstroSpy
Categories=AudioVideo;Network;
