[Desktop Entry]
Type=Application
Name=ADSBSpy
GenericName=SDR Software
Comment=An ADS-B decoder for the Airspy
Icon=com.airspy.sdrsharp.adsbspy
Exec=ADSBSpy
Terminal=false
Categories=Science;Electricity
Keywords=Airspy;HackRF;Instrumentation;Radio;RTL-SDR;SDR;Signal Processing;Signals;Software Defined Radio;USRP;
