[Desktop Entry]
Type=Application
Name=Ripcord
GenericName=Discord Client
Exec=ripcord
Terminal=false
Icon=fm.cancel.ripcord
Comment=Chat client for Discord
Categories=Network;InstantMessaging;
