[Desktop Entry]
Name=Cider
Exec=cider %U
Terminal=false
Type=Application
Icon=sh.cider.cider
StartupWMClass=Cider
Comment=A new look into listening and enjoying music in style and performance.
MimeType=x-scheme-handler/ame;x-scheme-handler/cider;x-scheme-handler/itms;x-scheme-handler/itmss;x-scheme-handler/musics;x-scheme-handler/music;
Categories=AudioVideo;
