[Desktop Entry]
Name=Quartus Prime Lite Edition
Comment=Quartus Prime Lite Edition Design Software for Intel FPGAs
Exec=quartus %U
Terminal=false
Type=Application
Icon=com.intel.quartus_prime.quartus_lite
Categories=Development;
