[Desktop Entry]
Name=BRL-CAD
Exec=mged
Icon=brlcad
Terminal=true
Type=Application
Categories=Graphics;VectorGraphics;Engineering;2DGraphics
StartupNotify=false
