[Desktop Entry]
Name=Byobu Termite
Comment=Advanced Command Line and Text Window Manager
Icon=com.github.aperezdc.termite.byobu
Exec=termite -e byobu
Type=Application
Categories=GTK;System;Utility;TerminalEmulator;
StartupWMClass=com.github.aperezdc.termite.byobu
StartupNotify=true
