[Desktop Entry]
Name=Mbed Studio
Comment=Mbed Studio Desktop
Exec=MbedStudio %U
Terminal=false
Type=Application
Icon=MbedStudio
StartupWMClass=Mbed Studio
MimeType=x-scheme-handler/arm-ide;
Categories=Development;
