[Desktop Entry]
Version=1.0
Type=Application
Name=Arduino Create Agent
GenericName=Arduino Create Agent
Comment=Launch Arduino Create Agent
Icon=arduino-create-agent
Categories=Development;IDE;Electronics;
Exec=arduino-create-agent gui
TryExec=arduino-create-agent
Terminal=false
