[Desktop Entry]
Encoding=UTF-8
Name=Hopper Disassembler v4
Comment=Hopper Disassembler v4
Exec=hopper %U
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=com.hopperapp.hopper
Categories=Application;Development;Utility;
